DATABASE_URL=

NEXTAUTH_URL=
NEXTAUTH_SECRET=

# This is not required, only an example of using NextAuth.js with GitHub as a provider
# See more documentation here: https://next-auth.js.org/providers/github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
